.dashboard-table
  %h2 Manage Food Items
  .table-container
    %table.table
      %thead
        %tr
          - dashboard_menu_table_headers.each do |header|
            %th= header
      %tbody
        - food_items.each do |item|
          %tr{class: item.deleted? ? "table-secondary" : ""}
            %td= item.id
            %td= item.name
            %td= item.category
            %td= number_to_currency(item.price)
            %td= item.vegetarian? ? "Yes" : "No"
            %td
              - if item.image.attached?
                = image_tag item.image, style: "width: 50px; height: 50px; object-fit: cover;"
              - else
                No image
            %td
              - if item.deleted?
                %span.badge.bg-danger Inactive
              - else
                %span.badge.bg-success Active
            %td
              = link_to "Edit", dashboard_menu_path(edit_id: item.id), class: "btn btn-sm btn-warning"
              - if item.deleted?
                = link_to "Reactivate", food_item_path(item, reactivate: true),
                  data: { turbo_method: :patch, turbo_confirm: "Are you sure you want to reactivate this item?" },
                  class: "btn btn-sm btn-success"
              - else
                = link_to "Delete", food_item_path(item),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"
